* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Need a new font */
    line-height: 1.5;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    background-color: #f7f7f7;
}

img {
    width: 24px;
}

.sidebar {
    box-shadow: 5px 0px 5px #dde5e7;
    background-color: #edf1f1;
}

.sb-profile {
    padding: 16px;
    box-shadow: 0px 2px 3px #dde5e7;
    margin-bottom: 24px;
}

.sb-profile,
.sb-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.sb-user {
    gap: 8px;
    display: flex;
}

.sb-user > p {
    font-weight: 900;
}

.avatar {
    width: 36px;
}

.sb-profile-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sb-pages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0px 24px;
}

.seperator {
    background-color: #c7c7c7;
    height: 1px;
    width: 100%;
    border-radius: 50%;
}

.page-section {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.add-project {
    color: #1F3438;
    font-weight: 900;
}

.page-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 8px;
    width: 100%;
    font-size: 1rem;
    padding: 4px;
    border-radius: 4px;
    transition: 0.2s;
}

.page-button:hover {
    cursor: pointer;
    background-color: #aed4dd62;
    transition: 0.2s;
}

.selected {
    background-color: #aed4dda9;
}

.content {
    padding: 80px clamp(24px, 15%, 100px);
}

.project-options {
    display: flex;
    gap: 8px;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px 0px 0px;
    border-top: solid 1px #c7c7c7;
}

.task > p {
    font-size: 1rem;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    gap: 16px;
}

.time {
    font-size: 0.8rem;
    color: #1F3438;
}

.task-options {
    display: flex;
    gap: 8px;
}

.task button,
.project-options button {
    border: none;
    background: none;
}

.project-options button {
    height: 24px;
}

.task button:hover,
.project-options button:hover {
    cursor: pointer;
}

.add-task {
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #a1a1a1;
    transition: 0.5s;
}

.add-task:hover {
    cursor: pointer;
    padding-left: 4px;
    transition: 0.5s;
}

.crossed p {
    text-decoration: line-through;
}